Source: watchgit
Section: misc
Priority: extra
Maintainer: Joao Gabriel <jglisanti@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.github.com/orelhinhas/watchgit

Package: watchgit
Architecture: any
Depends: python-daemon, ${shlibs:Depends}, ${misc:Depends}
Description: Deamon to watch a git repository
 Daemon to watch a specific git repository and pull always that there is a change.
